fast-pagerank==0.0.4
git+https://github.com/gbolmier/funk-svd
grakel==0.1.8
matplotlib==3.6.1
networkx==2.8.7
numpy==1.23.3
pandas==1.5.0
pyrdf2vec==0.2.3
rdflib==6.2.0
scipy==1.9.2
scikit-learn==1.1.2